@model List<GetProductDTO>

@{
    ViewBag.Title = "Auction Shop";
}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Blog -->
                <section>
                    <header class="major">
                        <h2>Shop</h2>
                    </header>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <section class="box">
                                <a href="#" class="image featured"><img src="~/image/services.jpeg" alt="" /></a>
                                <header>
                                    <h3>Services section</h3>
                                </header>
                                <p>Contact private specialists or provide your services.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a class="button icon solid fa-file-alt" asp-area="" asp-controller="ServiceLayer" asp-action="GetAll">Go to</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        <div class="col-6 col-12-small">
                            <section class="box">
                                <a href="#" class="image featured"><img src="~/image/Product.jpg" alt="" /></a>
                                <header>
                                    <h3>Products section</h3>
                                </header>
                                <p>Buy or exchange products with other users</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a class="button icon solid fa-file-alt" asp-area="" asp-controller="Product" asp-action="GetAll">Go to</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>