@model CreateUserDTO

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/Form.css" />

<div class="bform py-5">
    <!-- Row -->
    <div class="row">
        <div class="container">
            <div class="col-lg-6 align-justify-center pr-4 pl-0 contact-form">
                <div class="">
                    <h2 class="mb-3 font-weight-light">Get Register For Free</h2>
                    <form class="mt-3" asp-action="Registration" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="nick name" asp-for="NickName" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="first name" asp-for="FirstName" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="last name" asp-for="LastName" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="email address" asp-for="Email" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="password" asp-for="Password" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="confirm password" asp-for="PasswordConfirm" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0 mt-1">Sigh Up</button>
                                <!-- -->
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 text-center mt-5">
                            Already have an account? <a class="text-danger" asp-area="" asp-controller="Auth" asp-action="Login">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 right-image pl-3" style="background-image:url('/image/Auction.jpg');">
        </div>
    </div>
</div>


@* <form asp-action="Registration" method="post">
    <div>
        <label>NickName</label>
        <input class="form-control ml-2" type="text"
               placeholder="NickName"
               asp-for="NickName"
               required />
    </div>


    <div>
        <label>Email</label>
        <input class="form-control ml-2" type="text"
               placeholder="Email"
               asp-for="Email"
               required />
    </div>

    <div>
        <label>Password</label>
        <input class="form-control ml-2" type="text"
               placeholder="Password"
               asp-for="Password"
               required />
    </div>

    <div>
        <label>Confirm Password</label>
        <input class="form-control ml-2" type="text"
               placeholder="Confirm Password"
               asp-for="PasswordConfirm"
               required />
    </div>

    <div>
        <label>First Name</label>
        <input class="form-control ml-2" type="text"
               placeholder="First Name"
               asp-for="FirstName"
               required />
    </div>

    <div>
        <label>Last Name</label>
        <input class="form-control ml-2" type="text"
               placeholder="Last Name"
               asp-for="LastName"
               required />
    </div>

    <button class="btn btn-primary mt-2" type="submit">Save</button>

</form> *@



